<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="menupage.css" rel="stylesheet">
    <title>Snacks Veg.</title>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">PANEER BUTTER MASALA</h5>
          <p class="card-text">Rs. 160/-</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">PANEER SHAHI MASALA</h5>
          <p class="card-text">Rs. 100/-</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">PANEER SHAHI KORMA</h5>
          <p class="card-text">Rs. 210/-</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">SHAHI PANEER</h5>
          <p class="card-text">Rs. 210/-</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">PANEER KOFTA</h5>
          <p class="card-text">Rs. 170/-</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">MATAR PANEER</h5>
          <p class="card-text">Rs. 130/-</p>
        </div>
      </div>
    </div>
     <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">PALAK PANEER</h5>
          <p class="card-text">Rs. 130/-</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">PANEER PASANDA</h5>
          <p class="card-text">Rs. 180/-</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">PANEER DO PYAZA</h5>
          <p class="card-text">Rs. 180/-</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">PANEER HANDI (10 Pc.)</h5>
          <p class="card-text">Rs. 220/-</p>
        </div>
      </div>
    </div>
     <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">PANEER KADHAI (6 Pc.)</h5>
          <p class="card-text">Rs. 190/-</p>
        </div>
      </div>
    </div>
     <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">PANEER BHARTA</h5>
          <p class="card-text">Rs. 160/-</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">PANEER MASALA</h5>
          <p class="card-text">Rs. 140/-</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">PANEER MALAI KOFTA</h5>
          <p class="card-text">Rs. 200/-</p>
        </div>
      </div>
    </div>
     <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">MIX VEG.</h5>
          <p class="card-text">Rs. 130/-</p>
        </div>
      </div>
    </div>
      <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">VEG KORMA</h5>
          <p class="card-text">Rs. 140/-</p>
        </div>
      </div>
    </div>
      <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">VEG NAVARATAN KORMA</h5>
          <p class="card-text">Rs. 160/-</p>
        </div>
      </div>
    </div>
      <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">VEG DO PYAZA</h5>
          <p class="card-text">Rs. 140/-</p>
        </div>
      </div>
    </div>
      <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">VEG KOFTA (2 Pc.)</h5>
          <p class="card-text">Rs. 130/-</p>
        </div>
      </div>
    </div>
      <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ALU DUM</h5>
          <p class="card-text">Rs. 80/-</p>
        </div>
      </div>
    </div>
      <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ALU GOBI</h5>
          <p class="card-text">Rs. 90/-</p>
        </div>
      </div>
    </div>
      <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ALU MATAR</h5>
          <p class="card-text">Rs. 100/-</p>
        </div>
      </div>
    </div>
      <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ALU PALAK</h5>
          <p class="card-text">Rs. 130/-</p>
        </div>
      </div>
    </div>
      <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">KASHMIRI ALU DUM</h5>
          <p class="card-text">Rs. 200/-</p>
        </div>
      </div>
    </div>
      <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ALU DO PYAZA</h5>
          <p class="card-text">Rs. 180/-</p>
        </div>
      </div>
    </div>
      <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">GREEN PEAS MASALA</h5>
          <p class="card-text">Rs. 160/-</p>
        </div>
      </div>
    </div>
      <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">MUSHROOM MASALA</h5>
          <p class="card-text">Rs. 170/-</p>
        </div>
      </div>
    </div>
      <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">MUSHROOM DO PYAZA</h5>
          <p class="card-text">Rs. 180/-</p>
        </div>
      </div>
    </div>
      <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">MUSHROOM KORMA</h5>
          <p class="card-text">Rs. 190/-</p>
        </div>
      </div>
    </div>
    </div>
  </div>
</body>
</html>